.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10%;
	background-color: $background;

	h1 {
		font-size: 4.5rem;
		font-style: none;
		list-style: none;
		text-decoration: none;
	}
	img {
		height: 200px;
		min-width: 250px;
		margin: auto;
	}

	.Categories {
		display: flex;
		justify-content: flex-end;
		gap: 1rem;
		.ActiveOption {
			display: flex;
			justify-content: center;
			gap: 2rem;
			font-size: 2rem;
			list-style: none;
			width: 130px;
			border: 3px solid #90b766;
			border-radius: 45px;
			transition: all 0.3s;
			cursor: pointer;
			background: #3a4929;
			font-size: 0.8em;
			font-weight: 550;
			font-family: "Montserrat", sans-serif;
			text-decoration: none;
			color: white;
			p {
				font-size: 2rem;
			}
		}
		.Option {
			display: flex;
			justify-content: center;
			gap: 2rem;
			font-size: 2rem;
			list-style: none;
			width: 130px;
			border: 3px solid #90b766;
			border-radius: 45px;
			transition: all 0.3s;
			cursor: pointer;
			background: #90b766;
			font-size: 0.8em;
			font-weight: 550;
			font-family: "Montserrat", sans-serif;
			text-decoration: none;
			color: black;
			&:hover {
				background: #3a4929;
				color: white;
			}
			p {
				font-size: 2rem;
			}
		}
	}
}
